body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 5em;
}
h1 {
  font-size: 200%;
}
.topright {
  position: absolute;
  top: 1em;
  right: 1em;
}
a {
  text-decoration: none;
  text-color: black;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
