body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 5em;
}
h1 {
  font-size: 200%;
}
.topright {
  position: absolute;
  top: 1em;
  right: 1em;
}
a {
  text-decoration: none;
  text-color: black;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.last-line {
  padding: 1em;
  font-size: 108%;
  background: #ddd;
}
.metadata {
  font-style: italic;
}

#continue-text {
  padding-top: 5px;
}
#words-remaining:after {
  content: " words to go."
}
#next-visible {
  background: #eee;
  padding: 0.25em;
}
.invisible {
  display: none;
}

.story-part-visible {
  font-style: italic;
}
.too-long {
  display: none;
  color: red;
  font-weight: bold;
}
input:disabled+.too-long {
  display: inline;
}
