{{define "head"}}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/storytime.css">
<div class="topright">
  <a href="http://github.com/shicks/storytime">Github project</a>
</div>
<h1><a href="/">Storytime</a></h1>
{{end}}

{{define "foot"}}
<script src="/static/storytime.js"></script>
{{end}}

{{define "rootPage"}}
  {{template "head"}}
  {{if .LoginLink}}
    <h2>Log In</h2>
    You must be <a href="{{.LoginLink}}">logged in</a> to begin a new story.
  {{else}}
    {{$author := .Author}}
    {{with .CurrentStory}}
      <h2>Continue A Story</h2>
      You have a <a href="/story/{{.Id}}/{{.NextId}}">story ready to continue</a>.
    {{end}}
    <h2>Stories In Progress</h2>
    <ul>
      {{range $i, $story := .InProgress}}
        <li><a href="/story/{{$story.Id}}">Story {{inc $i}}</a>:
          {{$story.LastWritten}}
      {{end}}
      <li><a href="/begin">Begin a new story</a>
    </ul>
  {{end}}
  {{template "completed" .RecentlyCompleted}}
  {{template "foot"}}
{{end}}

{{define "beginPage"}}
  {{template "head"}}
  <h2>Begin A New Story</h2>
  {{if .LoginLink}}
    <p>You must be <a href="{{.LoginLink}}">logged in</a> to begin a story.</p>
  {{else}}
    <div class="new-story">
      <form action="/begin" method="post">
        <div class="authors">
          Authors:
          <br/>
          <textarea name="authors" rows="5" cols="40"
                    placeholder="Please list email addresses of the authors, one per line. (Remember to include your own.)"></textarea>
        </div>
        <div class="word-count">
          Word Count: <input type="text" name="words" value="450" size="4">
        </div>
        <input type="submit" value="Begin Story">
      </form>
    </div>
  {{end}}
  {{template "foot"}}
{{end}}

{{define "completedPage"}}
  {{template "head"}}
  {{template "completed" .Stories}}
  {{template "foot"}}
{{end}}

{{define "continuePage"}}
  {{template "head"}}
  {{template "continue" .CurrentStory}}
  {{template "foot"}}
{{end}}

{{define "printStoryPage"}}
  {{template "head"}}
  {{template "printStory" .Story}}
  {{template "foot"}}
{{end}}

{{define "statusPage"}}
  {{template "head"}}
  {{template "printStoryStatus" .Story}}
  {{template "foot"}}
{{end}}

{{/* param: Story */}}
{{define "continue"}}
  <h2>Continue A Story</h2>
  {{with .LastPart}}
    <div class="last-story">
      <div class="metadata">
        <span class="written-by">Written by <span class="author">{{.Author}}</span></span>
        <span class="written-at"><span class="time">{{.Written | fuzzy}}</span>.</span>
      </div>
      <div class="last-line">
        {{.Visible}}
      </div>
    </div>
  {{else}}
    <div class="last-story">
      <div class="metadata">
        <span class="written-by">Story initiated by <span class="author">{{.Creator}}</span></span>
        <span class="written-at"><span class="time">{{.Created | fuzzy}}</span>.</span>
        <br/>
        <span class="first-author">You are the first author.</span>
      </div>
    </div>
  {{end}}
  <form action="/write/{{.Id}}/{{.NextId}}" method="post">
    <textarea name="content" rows="5" cols="80" id="continue-text"
              placeholder="Please continue the story.  Anything on the last line (up to 16 words) will be visible to the next author."></textarea>
    <br/>
    <span id="words-remaining">{{.WordsLeft}}</span>
    <span id="story-will-end" class="invisible">This is the last part of the story.</span>
    <br/>
    <input id="submit" type="submit" value="Submit">
    <span class="too-long">Maximum length of a single part is 500 characters.</span>
    <br/>
    The next author will see: <span id="next-visible"></span>
  </form>
{{end}}

{{/* param: []Story */}}
{{define "completed"}}
  <h2>Completed Stories</h2>
  <ul>
  {{range .}}
    {{/* TODO(sdh): add more metadata (date, author, etc) */}}
    <li><a href="/story/{{.Id}}">{{.Snippet}}</a>
  {{else}}
  <li><i>There are no completed stories yet.</i>
  {{end}}
  </ul>
  {{with . | last}}
    {{/* TODO(sdh): don't show link if we know there are no more... */}}
    <a href="/completed?before={{.LastModified}}">Show More</a>
  {{end}}
{{end}}

{{/* param: Story */}}
{{define "printStory"}}
  {{range .Parts}}
    <span class="story-part" data-author="{{.Author}}">
      <span class="story-part-hidden">{{.Hidden}}</span>
      <span class="story-part-visible">{{.Visible}}</span>
    </span>
  {{end}}
{{end}}

{{/* param: InProgressStory */}}
{{define "printStoryStatus"}}
  <h2>{{.LastWritten}}</h2>
  <div class="status-created">Initiated {{.Created | fuzzy}} by {{.Creator}}</div>
  <div class="status-authors">Authors: {{.Authors | join ", "}}</div>
  {{if .LastAuthor}}
    <div class="last-modified">Last contribution {{.Modified | fuzzy}} by {{.LastAuthor}}</div>
  {{end}}
  <div class="blocked-on">Waiting for contribution from {{.NextAuthor}}</div>
  <div class="word-count">{{.WordsLeft}} of {{.Words}} words remaining</div>
  {{/* TODO(sdh): action buttons (resend email, skip/kick author, cancel, etc */}}
{{end}}
