{{define "head"}}
<!DOCTYPE html>
<link rel="stylesheet" href="/static/storytime.css">
<div class="topright">
  <a href="http://github.com/shicks/storytime">Github project</a>
</div>
<h1><a href="/">Storytime</a></h1>
{{end}}

{{define "foot"}}
<script src="/static/storytime.js"></script>
{{end}}

{{define "beginPage"}}
  {{template "head"}}
  <h2>Begin A New Story</h2>
  {{if .LoginLink}}
    <p>You must be <a href="{{.LoginLink}}">logged in</a> to begin a story.</p>
  {{else}}
    <div class="new-story">
      <form action="/begin" method="post">
        <div class="authors">
          Authors:
          <br/>
          <textarea name="authors" rows="5" cols="40"
                    placeholder="Please list email addresses of the authors, one per line. (Remember to include your own.)"></textarea>
        </div>
        <div class="word-count">
          Word Count: <input type="text" name="words" value="450" size="4">
        </div>
        <input type="submit" value="Begin Story">
      </form>
    </div>
  {{end}}
  {{template "foot"}}
{{end}}

{{define "completedPage"}}
  {{template "head"}}
  <h2>Completed Stories</h2>
  <ul>
  {{range .Stories}}
    {{/* TODO(sdh): add more metadata (date, author, etc) */}}
    <li><a href="/story/{{.Id}}">{{.Snippet}}</a>
  {{else}}
  <li><i>There are no completed stories yet.</i>
  {{end}}
  </ul>
  {{template "foot"}}
{{end}}

{{define "continuePage"}}
  {{template "head"}}
  {{template "continue" .CurrentStory}}
  {{template "foot"}}
{{end}}

{{/* param: Story */}}
{{define "continue"}}
  {{if .}}
    <h2>Continue A Story</h2>
    {{with .LastPart}}
      <div class="last-story">
        <div class="metadata">
          <span class="written-by">Written by <span class="author">{{.Author}}</span></span>
          <span class="written-at"><span class="time">{{.Written | fuzzy}}</span>.</span>
        </div>
        <div class="last-line">
          {{.Visible}}
        </div>
      </div>
    {{else}}
      <div class="last-story">
        <div class="metadata">
          <span class="written-by">Story initiated by <span class="author">{{.Creator}}</span></span>
          <span class="written-at"><span class="time">{{.Created | fuzzy}}</span>.</span>
          <br/>
          <span class="first-author">You are the first author.</span>
        </div>
      </div>
    {{end}}
    <form action="/write/{{.Id}}/{{.NextId}}" method="post">
      <textarea name="content" rows="5" cols="80" id="continue-text"
                placeholder="Please continue the story.  Anything on the last line (up to 16 words) will be visible to the next author."></textarea>
      <br/>
      <span id="words-remaining">{{.WordsLeft}}</span>
      <span id="story-will-end" class="invisible">This is the last part of the story.</span>
      <br/>
      <input type="submit" value="Submit">
      <br/>
      The next author will see: <span id="next-visible"></span>
    </form>
  {{end}}
{{end}}
